VisualElement {
}

.container {
    flex-grow: 1;
    flex-direction: row;
    position: absolute;
    left: 10px;
    top: 10px;
    -unity-font-style: bold;
    font-size: 20px;
}

#time-text {
    color: rgb(209, 36, 0);
}
